--
-- PostgreSQL database dump
--

\restrict Pvqc86sHbRHe9NCS4Qa0RN61g6jni6479T32b05maySROBCecpk1J61tfEF5CF1

-- Dumped from database version 13.23 (Debian 13.23-1.pgdg13+1)
-- Dumped by pg_dump version 13.23 (Debian 13.23-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: prisma_contract; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA prisma_contract;


ALTER SCHEMA prisma_contract OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: contract; Type: TABLE; Schema: prisma_contract; Owner: postgres
--

CREATE TABLE prisma_contract.contract (
    core_hash text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    contract_json jsonb NOT NULL
);


ALTER TABLE prisma_contract.contract OWNER TO postgres;

--
-- Name: ledger; Type: TABLE; Schema: prisma_contract; Owner: postgres
--

CREATE TABLE prisma_contract.ledger (
    id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    space text NOT NULL,
    migration_name text NOT NULL,
    migration_hash text NOT NULL,
    origin_core_hash text,
    origin_profile_hash text,
    destination_core_hash text NOT NULL,
    destination_profile_hash text,
    operations jsonb NOT NULL
);


ALTER TABLE prisma_contract.ledger OWNER TO postgres;

--
-- Name: ledger_id_seq; Type: SEQUENCE; Schema: prisma_contract; Owner: postgres
--

CREATE SEQUENCE prisma_contract.ledger_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE prisma_contract.ledger_id_seq OWNER TO postgres;

--
-- Name: ledger_id_seq; Type: SEQUENCE OWNED BY; Schema: prisma_contract; Owner: postgres
--

ALTER SEQUENCE prisma_contract.ledger_id_seq OWNED BY prisma_contract.ledger.id;


--
-- Name: marker; Type: TABLE; Schema: prisma_contract; Owner: postgres
--

CREATE TABLE prisma_contract.marker (
    space text DEFAULT 'app'::text NOT NULL,
    core_hash text NOT NULL,
    profile_hash text NOT NULL,
    contract_json jsonb,
    canonical_version integer,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    app_tag text,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    invariants text[] DEFAULT '{}'::text[] NOT NULL
);


ALTER TABLE prisma_contract.marker OWNER TO postgres;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    date text NOT NULL,
    id integer NOT NULL,
    status text NOT NULL,
    "studentId" integer NOT NULL
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendance_id_seq OWNER TO postgres;

--
-- Name: attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_id_seq OWNED BY public.attendance.id;


--
-- Name: complaint; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint (
    title text NOT NULL,
    description text NOT NULL,
    id integer NOT NULL,
    status text DEFAULT 'Pending'::text NOT NULL,
    "studentId" integer NOT NULL
);


ALTER TABLE public.complaint OWNER TO postgres;

--
-- Name: complaint_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaint_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.complaint_id_seq OWNER TO postgres;

--
-- Name: complaint_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaint_id_seq OWNED BY public.complaint.id;


--
-- Name: foodMenu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."foodMenu" (
    breakfast text NOT NULL,
    day text NOT NULL,
    dinner text NOT NULL,
    id integer NOT NULL,
    lunch text NOT NULL,
    snacks text NOT NULL
);


ALTER TABLE public."foodMenu" OWNER TO postgres;

--
-- Name: foodMenu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."foodMenu_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
  sma_contract.contract (core_hash, created_at, contract_json) FROM stdin;
dae55352a510e6e16dd71343ac3cf2516ec83ac00b827e1adef3e115a14d6664	2026-08-26 04:50:53.295833+00	{"meta": {}, "roots": {"room": {"model": "Room", "namespace": "public"}, "user": {"model": "User", "namespace": "public"}, "outing": {"model": "Outing", "namespace": "public"}, "student": {"model": "Student", "namespace": "public"}, "foodMenu": {"model": "FoodMenu", "namespace": "public"}, "complaint": {"model": "Complaint", "namespace": "public"}, "attendance": {"model": "Attendance", "namespace": "public"}}, "domain": {"namespaces": {"public": {"models": {"Room": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "block": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "floor": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "capacity": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "occupied": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "roomNumber": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "room", "fields": {"id": {"column": "id"}, "block": {"column": "block"}, "floor": {"column": "floor"}, "capacity": {"column": "capacity"}, "occupied": {"column": "occupied"}, "roomNumber": {"column": "roomNumber"}}, "namespaceId": "public"}, "relations": {"students": {"on": {"localFields": ["id"], "targetFields": ["roomId"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "1:N"}}}, "User": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "name": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "role": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "email": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "password": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "createdAt": {"type": {"kind": "scalar", "codecId": "pg/timestamptz-string@1"}, "nullable": false}, "updatedAt": {"type": {"kind": "scalar", "codecId": "pg/timestamptz-string@1"}, "nullable": false}}, "storage": {"table": "user", "fields": {"id": {"column": "id"}, "name": {"column": "name"}, "role": {"column": "role"}, "email": {"column": "email"}, "password": {"column": "password"}, "createdAt": {"column": "createdAt"}, "updatedAt": {"column": "updatedAt"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["id"], "targetFields": ["userId"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "1:1"}}}, "Outing": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "inTime": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "reason": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "status": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "outTime": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "studentId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "outingDate": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "destination": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "outing", "fields": {"id": {"column": "id"}, "inTime": {"column": "inTime"}, "reason": {"column": "reason"}, "status": {"column": "status"}, "outTime": {"column": "outTime"}, "studentId": {"column": "studentId"}, "outingDate": {"column": "outingDate"}, "destination": {"column": "destination"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["studentId"], "targetFields": ["id"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "N:1"}}}, "Student": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "year": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "branch": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "roomId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": true}, "userId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "rollNumber": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "student", "fields": {"id": {"column": "id"}, "year": {"column": "year"}, "branch": {"column": "branch"}, "roomId": {"column": "roomId"}, "userId": {"column": "userId"}, "rollNumber": {"column": "rollNumber"}}, "namespaceId": "public"}, "relations": {"room": {"on": {"localFields": ["roomId"], "targetFields": ["id"]}, "to": {"model": "Room", "namespace": "public"}, "cardinality": "N:1"}, "user": {"on": {"localFields": ["userId"], "targetFields": ["id"]}, "to": {"model": "User", "namespace": "public"}, "cardinality": "N:1"}, "outings": {"on": {"localFields": ["id"], "targetFields": ["studentId"]}, "to": {"model": "Outing", "namespace": "public"}, "cardinality": "1:N"}, "attendance": {"on": {"localFields": ["id"], "targetFields": ["studentId"]}, "to": {"model": "Attendance", "namespace": "public"}, "cardinality": "1:N"}, "complaints": {"on": {"localFields": ["id"], "targetFields": ["studentId"]}, "to": {"model": "Complaint", "namespace": "public"}, "cardinality": "1:N"}}}, "FoodMenu": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "date": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "lunch": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "dinner": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "snacks": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "breakfast": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "foodMenu", "fields": {"id": {"column": "id"}, "date": {"column": "date"}, "lunch": {"column": "lunch"}, "dinner": {"column": "dinner"}, "snacks": {"column": "snacks"}, "breakfast": {"column": "breakfast"}}, "namespaceId": "public"}, "relations": {}}, "Complaint": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "status": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "category": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "studentId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "description": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "complaint", "fields": {"id": {"column": "id"}, "status": {"column": "status"}, "category": {"column": "category"}, "studentId": {"column": "studentId"}, "description": {"column": "description"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["studentId"], "targetFields": ["id"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "N:1"}}}, "Attendance": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "date": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "status": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "studentId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}}, "storage": {"table": "attendance", "fields": {"id": {"column": "id"}, "date": {"column": "date"}, "status": {"column": "status"}, "studentId": {"column": "studentId"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["studentId"], "targetFields": ["id"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "N:1"}}}}}}}, "target": "postgres", "storage": {"namespaces": {"public": {"id": "public", "entries": {"table": {"room": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "block": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "floor": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "capacity": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "occupied": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "roomNumber": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [], "uniques": [{"columns": ["roomNumber"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": []}, "user": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "name": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "role": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "email": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "password": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "createdAt": {"codecId": "pg/timestamptz-string@1", "default": {"kind": "function", "expression": "now()"}, "nullable": false, "nativeType": "timestamptz"}, "updatedAt": {"codecId": "pg/timestamptz-string@1", "nullable": false, "nativeType": "timestamptz"}}, "indexes": [], "uniques": [{"columns": ["email"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": []}, "outing": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "inTime": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "reason": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "status": {"codecId": "pg/text@1", "default": {"kind": "literal", "value": "Pending"}, "nullable": false, "nativeType": "text"}, "outTime": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "studentId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "outingDate": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "destination": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [{"name": "outing_studentId_idx_bf255322", "prefix": "outing_studentId_idx", "unique": false, "columns": ["studentId"]}], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["studentId"], "tableName": "outing", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "student", "namespaceId": "public"}}]}, "student": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "year": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "branch": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "roomId": {"codecId": "pg/int4@1", "nullable": true, "nativeType": "int4"}, "userId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "rollNumber": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [{"name": "student_roomId_idx_fe51d647", "prefix": "student_roomId_idx", "unique": false, "columns": ["roomId"]}], "uniques": [{"columns": ["rollNumber"]}, {"columns": ["userId"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["userId"], "tableName": "student", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "user", "namespaceId": "public"}}, {"source": {"columns": ["roomId"], "tableName": "student", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "room", "namespaceId": "public"}}]}, "foodMenu": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "date": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "lunch": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "dinner": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "snacks": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "breakfast": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": []}, "complaint": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "status": {"codecId": "pg/text@1", "default": {"kind": "literal", "value": "Pending"}, "nullable": false, "nativeType": "text"}, "category": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "studentId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "description": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [{"name": "complaint_studentId_idx_bf255322", "prefix": "complaint_studentId_idx", "unique": false, "columns": ["studentId"]}], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["studentId"], "tableName": "complaint", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "student", "namespaceId": "public"}}]}, "attendance": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "date": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "status": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "studentId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}}, "indexes": [{"name": "attendance_studentId_idx_bf255322", "prefix": "attendance_studentId_idx", "unique": false, "columns": ["studentId"]}], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["studentId"], "tableName": "attendance", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "student", "namespaceId": "public"}}]}}}}}, "storageHash": "dae55352a510e6e16dd71343ac3cf2516ec83ac00b827e1adef3e115a14d6664"}, "execution": {"mutations": {"defaults": [{"ref": {"table": "user", "column": "updatedAt", "namespace": "public"}, "onCreate": {"id": "timestampNow", "kind": "generator"}, "onUpdate": {"id": "timestampNow", "kind": "generator"}}]}, "executionHash": "a499031370d1fd1891ca11072d3f7e11be752b686057f7c6d0900ee0159f4ed0"}, "extensions": {}, "profileHash": "3916f444a8a17ad749191acf9e08dad97d1a327b88c2f1d45d12f240296aa8b2", "capabilities": {"sql": {"enums": true, "lateral": true, "returning": true, "scalarList": true, "checkConstraint": true, "defaultInInsert": true}, "postgres": {"limit": true, "jsonAgg": true, "lateral": true, "orderBy": true, "returning": true, "distinctOn": true}}, "targetFamily": "sql"}
0278ecb3e489339c65a9ccab3909073da513a76337b8b331f25f78498b3f8dea	2026-08-26 05:41:23.025205+00	{"meta": {}, "roots": {"room": {"model": "Room", "namespace": "public"}, "user": {"model": "User", "namespace": "public"}, "outing": {"model": "Outing", "namespace": "public"}, "student": {"model": "Student", "namespace": "public"}, "foodMenu": {"model": "FoodMenu", "namespace": "public"}, "complaint": {"model": "Complaint", "namespace": "public"}, "attendance": {"model": "Attendance", "namespace": "public"}}, "domain": {"namespaces": {"public": {"models": {"Room": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "block": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "floor": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "capacity": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "occupied": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "roomNumber": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "room", "fields": {"id": {"column": "id"}, "block": {"column": "block"}, "floor": {"column": "floor"}, "capacity": {"column": "capacity"}, "occupied": {"column": "occupied"}, "roomNumber": {"column": "roomNumber"}}, "namespaceId": "public"}, "relations": {"students": {"on": {"localFields": ["id"], "targetFields": ["roomId"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "1:N"}}}, "User": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "name": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "role": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "email": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "password": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "createdAt": {"type": {"kind": "scalar", "codecId": "pg/timestamptz-string@1"}, "nullable": false}, "updatedAt": {"type": {"kind": "scalar", "codecId": "pg/timestamptz-string@1"}, "nullable": false}}, "storage": {"table": "user", "fields": {"id": {"column": "id"}, "name": {"column": "name"}, "role": {"column": "role"}, "email": {"column": "email"}, "password": {"column": "password"}, "createdAt": {"column": "createdAt"}, "updatedAt": {"column": "updatedAt"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["id"], "targetFields": ["userId"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "1:1"}}}, "Outing": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "inTime": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "reason": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "status": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "outTime": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "studentId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "outingDate": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "destination": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "outing", "fields": {"id": {"column": "id"}, "inTime": {"column": "inTime"}, "reason": {"column": "reason"}, "status": {"column": "status"}, "outTime": {"column": "outTime"}, "studentId": {"column": "studentId"}, "outingDate": {"column": "outingDate"}, "destination": {"column": "destination"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["studentId"], "targetFields": ["id"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "N:1"}}}, "Student": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "year": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "branch": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "roomId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": true}, "userId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "rollNumber": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "student", "fields": {"id": {"column": "id"}, "year": {"column": "year"}, "branch": {"column": "branch"}, "roomId": {"column": "roomId"}, "userId": {"column": "userId"}, "rollNumber": {"column": "rollNumber"}}, "namespaceId": "public"}, "relations": {"room": {"on": {"localFields": ["roomId"], "targetFields": ["id"]}, "to": {"model": "Room", "namespace": "public"}, "cardinality": "N:1"}, "user": {"on": {"localFields": ["userId"], "targetFields": ["id"]}, "to": {"model": "User", "namespace": "public"}, "cardinality": "N:1"}, "outings": {"on": {"localFields": ["id"], "targetFields": ["studentId"]}, "to": {"model": "Outing", "namespace": "public"}, "cardinality": "1:N"}, "attendance": {"on": {"localFields": ["id"], "targetFields": ["studentId"]}, "to": {"model": "Attendance", "namespace": "public"}, "cardinality": "1:N"}, "complaints": {"on": {"localFields": ["id"], "targetFields": ["studentId"]}, "to": {"model": "Complaint", "namespace": "public"}, "cardinality": "1:N"}}}, "FoodMenu": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "date": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "lunch": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "dinner": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "snacks": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "breakfast": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "foodMenu", "fields": {"id": {"column": "id"}, "date": {"column": "date"}, "lunch": {"column": "lunch"}, "dinner": {"column": "dinner"}, "snacks": {"column": "snacks"}, "breakfast": {"column": "breakfast"}}, "namespaceId": "public"}, "relations": {}}, "Complaint": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "status": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "category": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "studentId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "description": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}}, "storage": {"table": "complaint", "fields": {"id": {"column": "id"}, "status": {"column": "status"}, "category": {"column": "category"}, "studentId": {"column": "studentId"}, "description": {"column": "description"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["studentId"], "targetFields": ["id"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "N:1"}}}, "Attendance": {"fields": {"id": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}, "date": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "status": {"type": {"kind": "scalar", "codecId": "pg/text@1"}, "nullable": false}, "studentId": {"type": {"kind": "scalar", "codecId": "pg/int4@1"}, "nullable": false}}, "storage": {"table": "attendance", "fields": {"id": {"column": "id"}, "date": {"column": "date"}, "status": {"column": "status"}, "studentId": {"column": "studentId"}}, "namespaceId": "public"}, "relations": {"student": {"on": {"localFields": ["studentId"], "targetFields": ["id"]}, "to": {"model": "Student", "namespace": "public"}, "cardinality": "N:1"}}}}}}}, "target": "postgres", "storage": {"namespaces": {"public": {"id": "public", "entries": {"table": {"room": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "block": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "floor": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "capacity": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "occupied": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "roomNumber": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [], "uniques": [{"columns": ["roomNumber"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": []}, "user": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "name": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "role": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "email": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "password": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "createdAt": {"codecId": "pg/timestamptz-string@1", "default": {"kind": "function", "expression": "now()"}, "nullable": false, "nativeType": "timestamptz"}, "updatedAt": {"codecId": "pg/timestamptz-string@1", "nullable": false, "nativeType": "timestamptz"}}, "indexes": [], "uniques": [{"columns": ["email"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": []}, "outing": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "inTime": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "reason": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "status": {"codecId": "pg/text@1", "default": {"kind": "literal", "value": "Pending"}, "nullable": false, "nativeType": "text"}, "outTime": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "studentId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "outingDate": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "destination": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [{"name": "outing_studentId_idx_bf255322", "prefix": "outing_studentId_idx", "unique": false, "columns": ["studentId"]}], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["studentId"], "tableName": "outing", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "student", "namespaceId": "public"}}]}, "student": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "year": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "branch": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "roomId": {"codecId": "pg/int4@1", "nullable": true, "nativeType": "int4"}, "userId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "rollNumber": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [{"name": "student_roomId_idx_fe51d647", "prefix": "student_roomId_idx", "unique": false, "columns": ["roomId"]}], "uniques": [{"columns": ["rollNumber"]}, {"columns": ["userId"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["userId"], "tableName": "student", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "user", "namespaceId": "public"}}, {"source": {"columns": ["roomId"], "tableName": "student", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "room", "namespaceId": "public"}}]}, "foodMenu": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "date": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "lunch": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "dinner": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "snacks": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "breakfast": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [], "uniques": [{"columns": ["date"]}], "primaryKey": {"columns": ["id"]}, "foreignKeys": []}, "complaint": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "status": {"codecId": "pg/text@1", "default": {"kind": "literal", "value": "Pending"}, "nullable": false, "nativeType": "text"}, "category": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "studentId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}, "description": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}}, "indexes": [{"name": "complaint_studentId_idx_bf255322", "prefix": "complaint_studentId_idx", "unique": false, "columns": ["studentId"]}], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["studentId"], "tableName": "complaint", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "student", "namespaceId": "public"}}]}, "attendance": {"columns": {"id": {"codecId": "pg/int4@1", "default": {"kind": "function", "expression": "autoincrement()"}, "nullable": false, "nativeType": "int4"}, "date": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "status": {"codecId": "pg/text@1", "nullable": false, "nativeType": "text"}, "studentId": {"codecId": "pg/int4@1", "nullable": false, "nativeType": "int4"}}, "indexes": [{"name": "attendance_studentId_idx_bf255322", "prefix": "attendance_studentId_idx", "unique": false, "columns": ["studentId"]}], "uniques": [], "primaryKey": {"columns": ["id"]}, "foreignKeys": [{"source": {"columns": ["studentId"], "tableName": "attendance", "namespaceId": "public"}, "target": {"columns": ["id"], "tableName": "student", "namespaceId": "public"}}]}}}}}, "storageHash": "0278ecb3e489339c65a9ccab3909073da513a76337b8b331f25f78498b3f8dea"}, "execution": {"mutations": {"defaults": [{"ref": {"table": "user", "column": "updatedAt", "namespace": "public"}, "onCreate": {"id": "timestampNow", "kind": "generator"}, "onUpdate": {"id": "timestampNow", "kind": "generator"}}]}, "executionHash": "a499031370d1fd1891ca11072d3f7e11be752b686057f7c6d0900ee0159f4ed0"}, "extensions": {}, "profileHash": "3916f444a8a17ad749191acf9e08dad97d1a327b88c2f1d45d12f240296aa8b2", "capabilities": {"sql": {"enums": true, "lateral": true, "returning": true, "scalarList": true, "checkConstraint": true, "defaultInInsert": true}, "postgres": {"limit": true, "jsonAgg": true, "lateral": true, "orderBy": true, "returning": true, "distinctOn": true}}, "targetFamily": "sql"}
\.


--
-- Data for Name: ledger; Type: TABLE DATA; Schema: prisma_contract; Owner: postgres
--



--
-- Data for Name: marker; Type: TABLE DATA; Schema: prisma_contract; Owner: postgres
--

COPY prisma_contract.marker (space, core_hash, profile_hash, contract_json, canonical_version, updated_at, app_tag, meta, invariants) FROM stdin;
app	0278ecb3e489339c65a9ccab3909073da513a76337b8b331f25f78498b3f8dea	3916f444a8a17ad749191acf9e08dad97d1a327b88c2f1d45d12f240296aa8b2	\N	\N	2026-08-26 06:18:27.957458+00	\N	{}	{}
\.


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance (date, id, status, "studentId") FROM stdin;
2026-08-26	1	ABSENT	1
\.


--
-- Data for Name: complaint; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.complaint (title, description, id, status, "studentId") FROM stdin;
Water problem	No water supply in my room	1	RESOLVED	8
\.


--
-- Data for Name: foodMenu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."foodMenu" (breakfast, day, dinner, id, lunch, snacks) FROM stdin;
\.


--
-- Data for Name: outing; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.outing (destination, id, "inTime", "outTime", "outingDate", reason, status, "studentId") FROM stdin;
Chennai Central Mall	1	18:00	09:00	2026-08-30	Family visit	Approved	10
Chennai Central Mall	2	18:00	09:00	2026-08-30	Family visit	Pending	8
Chennai Central Mall	3	18:00	09:00	2026-08-30	Family visit	Pending	8
Chennai Central	4	18:00	09:00	2026-08-30	Family	Pending	1
\.


--
-- Data for Name: room; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.room (block, capacity, floor, id, occupied, "roomNumber") FROM stdin;
A	4	1	2	1	A101
\.


--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student (branch, id, "rollNumber", "roomId", "userId", year) FROM stdin;
AIDS	3	23A81A0501	\N	7	2
AIDS	4	23A81A0502	\N	9	2
AIDS	6	23A81A0506	\N	11	2
Computer Science	8	CS2021001	\N	14	2
Computer Science	9	CS2026001	\N	16	2
AIDS	1	23A81A0001	2	1	2
AIDS	10	23A81A0521	\N	17	3
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ledger_id_seq; Type: SEQUENCE SET; Schema: prisma_contract; Owner: postgres
--

SELECT pg_catalog.setval('prisma_contract.ledger_id_seq', 4, true);


--
-- Name: attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_id_seq', 1, true);


--
-- Name: complaint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaint_id_seq', 1, true);


--
-- Name: foodMenu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."foodMenu_id_seq"', 1, true);


--
-- Name: outing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.outing_id_seq', 3, true);


--
-- Name: room_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.room_id_seq', 2, true);


--
-- Name: student_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_id_seq', 10, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 19, true);


--
-- Name: contract contract_pkey; Type: CONSTRAINT; Schema: prisma_contract; Owner: postgres
--

ALTER TABLE ONLY prisma_contract.contract
    ADD CONSTRAINT contract_pkey PRIMARY KEY (core_hash);


--
-- Name: ledger ledger_pkey; Type: CONSTRAINT; Schema: prisma_contract; Owner: postgres
--

ALTER TABLE ONLY prisma_contract.ledger
    ADD CONSTRAINT ledger_pkey PRIMARY KEY (id);


--
-- Name: marker marker_pkey; Type: CONSTRAINT; Schema: prisma_contract; Owner: postgres
--

ALTER TABLE ONLY prisma_contract.marker
    ADD CONSTRAINT marker_pkey PRIMARY KEY (space);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: complaint complaint_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint
    ADD CONSTRAINT complaint_pkey PRIMARY KEY (id);


--
-- Name: foodMenu foodMenu_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."foodMenu"
    ADD CONSTRAINT "foodMenu_date_key" UNIQUE (day);


--
-- Name: foodMenu foodMenu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."foodMenu"
    ADD CONSTRAINT "foodMenu_pkey" PRIMARY KEY (id);


--
-- Name: outing outing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outing
    ADD CONSTRAINT outing_pkey PRIMARY KEY (id);


--
-- Name: room room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT room_pkey PRIMARY KEY (id);


--
-- Name: room room_roomNumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room
    ADD CONSTRAINT "room_roomNumber_key" UNIQUE ("roomNumber");


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (id);


--
-- Name: student student_rollNumber_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT "student_rollNumber_key" UNIQUE ("rollNumber");


--
-- Name: student student_userId_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT "student_userId_key" UNIQUE ("userId");


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: attendance_studentId_idx_bf255322; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "attendance_studentId_idx_bf255322" ON public.attendance USING btree ("studentId");


--
-- Name: complaint_studentId_idx_bf255322; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "complaint_studentId_idx_bf255322" ON public.complaint USING btree ("studentId");


--
-- Name: outing_studentId_idx_bf255322; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "outing_studentId_idx_bf255322" ON public.outing USING btree ("studentId");


--
-- Name: student_roomId_idx_fe51d647; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "student_roomId_idx_fe51d647" ON public.student USING btree ("roomId");


--
-- Name: attendance attendance_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT "attendance_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.student(id);


--
-- Name: complaint complaint_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint
    ADD CONSTRAINT "complaint_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.student(id);


--
-- Name: outing outing_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outing
    ADD CONSTRAINT "outing_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public.student(id);


--
-- Name: student student_roomId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT "student_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES public.room(id);


--
-- Name: student student_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT "student_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Pvqc86sHbRHe9NCS4Qa0RN61g6jni6479T32b05maySROBCecpk1J61tfEF5CF1

